:root {
  --primary: #003366;
  --accent: #0055aa;
  --text: #000;
  --background: #fff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

header {
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem
}

nav {
  text-align: center;
  padding: 1rem;
}

nav a:hover {
  text-decoration: underline;
  color: #0056b3;
}

nav button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #0077dd;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.temple-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  overflow: hidden;
}

.temple-card img {
  width: 100%;
  height: auto;
  display: block;
}

.temple-card .content {
  padding: 1rem;
}

.temple-card h2 {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
}

footer {
  text-align: center;
  background-color: #eee;
  padding: 1rem;
  font-size: 0.9rem;
}


